<form class="sequence-cards-container" [formGroup]="form">

  <mat-card class="mat-card-container mat-elevation-z10">
    <mat-card-title class="card-title">
      <div class="card-header-container">
        <div>
          Original
        </div>
        <button mat-raised-button class="btn-copy" matTooltipPosition="above" [matTooltip]="matToolText" (click)="changeMatToolText()" type="button" [ngxClipboard]="original">
          <mat-icon>
            <svg fill="#FFF" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 0h24v24H0z" fill="none"/>
                <path d="M16 1H4c-1.1 0-2 .9-2 2v14h2V3h12V1zm3 4H8c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h11c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2zm0 16H8V7h11v14z"/>
            </svg>
          </mat-icon>
        </button>
      </div>

    </mat-card-title>
    <!-- (cbOnSuccess)="isCopied2 = true" -->

    <mat-form-field class="sequence-input-container">
      <textarea #original class="sequence-input" [errorStateMatcher]="matcher" formControlName="original" spellcheck="false" matInput placeholder="Raw or Fasta Sequence... " matTextareaAutosize matAutosizeMinRows="4"></textarea>
      <mat-error *ngIf="+form.get('original').hasError('sequenceErrors')">
        Sequence(s) {{form.get("original").errors["sequenceErrors"].join(", ")}} is/are incorrect
      </mat-error>
    </mat-form-field>
    <mat-card-actions class="sequence-actions">
      <div class="original-sequence-options-container">
        <button (click)="resetOriginalSequence()" mat-raised-button color="accent">Reset</button>
        <div>
          <button (click)="triggerClickUpload()" class="btn-upload" matTooltip="Upload Sequence" matTooltipPosition="above" mat-raised-button color="warn">
                <mat-icon>
                  <svg fill="#FFF" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 0h24v24H0z" fill="none"/>
                    <path d="M9 16h6v-6h4l-7-7-7 7h4zm-4 2h14v2H5z"/>
                  </svg>
                </mat-icon>
                <input id="file-upload" type="file" (change)="upload($event.target.files)" />
              </button>
          <button (click)="download('original')" class="btn-download-original" matTooltip="Download Sequence" matTooltipPosition="above" mat-raised-button color="primary">
                  <mat-icon>
                    <svg fill="#FFF" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                      <path d="M19 9h-4V3H9v6H5l7 7 7-7zM5 18v2h14v-2H5z"/>
                      <path d="M0 0h24v24H0z" fill="none"/>
                    </svg>
                  </mat-icon>
                </button>
        </div>
      </div>
    </mat-card-actions>
  </mat-card>

  <mat-card [hidden]="!display['complement']" class="mat-card-container mat-elevation-z10">
    <mat-card-title class="card-title">Complement</mat-card-title>
    <mat-form-field class="sequence-input-container">
      <textarea class="sequence-input" formControlName="complement" matInput matTextareaAutosize matAutosizeMinRows="4"></textarea>
    </mat-form-field>
    <mat-card-actions class="sequence-actions">
      <button (click)="download('complement')" class="btn-download" matTooltip="Download Sequence" matTooltipPosition="above" mat-raised-button color="primary">
                <mat-icon>
                  <svg fill="#FFF" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M19 9h-4V3H9v6H5l7 7 7-7zM5 18v2h14v-2H5z"/>
                    <path d="M0 0h24v24H0z" fill="none"/>
                  </svg>
                </mat-icon>
              </button>
    </mat-card-actions>
  </mat-card>

  <mat-card [hidden]="!display['reverse']" class="mat-card-container mat-elevation-z10">
    <mat-card-title class="card-title">Reverse</mat-card-title>
    <mat-form-field class="sequence-input-container">
      <textarea class="sequence-input" formControlName="reverse" matInput matTextareaAutosize matAutosizeMinRows="4"></textarea>
    </mat-form-field>
    <mat-card-actions class="sequence-actions">
      <button (click)="download('reverse')" class="btn-download" matTooltip="Download Sequence" matTooltipPosition="above" mat-raised-button color="primary">
              <mat-icon>
                <svg fill="#FFF" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                  <path d="M19 9h-4V3H9v6H5l7 7 7-7zM5 18v2h14v-2H5z"/>
                  <path d="M0 0h24v24H0z" fill="none"/>
                </svg>
              </mat-icon>
            </button>
    </mat-card-actions>
  </mat-card>

  <mat-card [hidden]="!display['reverseComplement']" class="mat-card-container mat-elevation-z10">
    <mat-card-title class="card-title">Reverse Complement</mat-card-title>
    <mat-form-field class="sequence-input-container">
      <textarea class="sequence-input" formControlName="reverseComplement" matInput matTextareaAutosize matAutosizeMinRows="4"></textarea>
    </mat-form-field>
    <mat-card-actions class="sequence-actions">
      <button (click)="download('reverseComplement')" class="btn-download" matTooltip="Download Sequence" matTooltipPosition="above" mat-raised-button color="primary">
              <mat-icon>
                <svg fill="#FFF" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                  <path d="M19 9h-4V3H9v6H5l7 7 7-7zM5 18v2h14v-2H5z"/>
                  <path d="M0 0h24v24H0z" fill="none"/>
                </svg>
              </mat-icon>
            </button>
    </mat-card-actions>
  </mat-card>
  <nucleotide-table></nucleotide-table>
</form>
