.sequence-cards-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100% !important;
}

.mat-card-container {
  margin: 20px 20px;
  padding-top: 0px;
  min-width: 400px;
  max-width: 600px;
  width: 45%;
}

.sequence-options-container {
  margin: 20px 20px;
  padding-top: 0px;
}

.sequence-input {
  width: 100%;
  cursor: text;
}

.sequence-input-container {
  width: 100%;
}

.card-title {
  background-color: #4152b4;
  color: white;
  margin: 0 -25px 10px -25px;
  padding: 15px;
}

.btn-download {
  min-width: 30px;
  margin: 0px !important;
  margin-left: 5px !important;
  margin-right: 15px !important;
}

.btn-download-original {
  min-width: 30px;
  margin: 0px !important;
  margin-left: 5px !important;
}

.btn-upload {
  min-width: 30px;
  margin: 0px !important;
}

.btn-copy {
  min-width: 30px;
  margin: 0px !important;
  background-color: #505050 !important;
}

.sequence-actions {
  display: flex;
  justify-content: flex-end;
}

.original-sequence-options-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-left: 15px;
  margin-right: 15px;
}

#file-upload {
  display: none;
}

.card-header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
