<form [formGroup]="form">
  <mat-form-field>
    <textarea formControlName="original" matInput placeholder="Sequence..." matTextareaAutosize matAutosizeMinRows="4"></textarea>
  </mat-form-field>
  <mat-form-field>
    <textarea formControlName="complement" matInput matTextareaAutosize matAutosizeMinRows="4"></textarea>
  </mat-form-field>
  <mat-form-field>
    <textarea formControlName="reverse" matInput matTextareaAutosize matAutosizeMinRows="4"></textarea>
  </mat-form-field>
  <mat-form-field>
    <textarea formControlName="reverseComplement" matInput matTextareaAutosize matAutosizeMinRows="4"></textarea>
  </mat-form-field>
</form>
